:root {
    --dark-blue:#222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --light-grey: #F8F8F8;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.header {
background-color: var(--dark-blue);
    position: relative;
  min-height: 40px;
  margin-bottom: 100px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}



.header-burger {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header-menu {
    position: absolute;
    width: 80px;
    top: 100%;
    right: 0;
    background: white;
    display: block;
  }
  
  .header-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .header-menu-link {
    color: darkblue;
    text-decoration: none;
  }
  
  .header-menu-link:hover {
    color: red;
    cursor: pointer;
  }
  
  .header-burger:hover + .header-menu {
    display: block;
  }
  
  .header-menu:hover {
    display: block;
  }

.header__logo {
    margin: 0 10px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand_subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand_subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--man {
    background-image: url(../img/foto-2.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--kids {
    background-image: url(../img/foto-3.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--accesories {
    width: 100%;
    margin: 0;
    background-image: url(../img/foto-4.jpg);
    display: flex;
    flex-direction: column;
}

.offers__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.offers__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.offers__subtitle-pink {
    color: var(--dark-pink);
}

.fetured {
    padding: 96px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fetured__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.fetured__subtitle {
    padding: 6px 0 48px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.fetured__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 49px 0;
}

.fetured__item {
    width: 360px;
    min-height: 581px;
    margin-bottom: 30px;
}

.fetured__title-wrapper {
    width: 360px;
    padding: 25px 0 20px 0;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.item__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: 18px;
    margin-bottom: 13px;
}

.item__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-left: 16px;
    margin-bottom: 18px;
    margin-right: 29px;
}

.item__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 18px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.product__button {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.browse__button {
  width: 211px;
  height: 47px;
  border-color: var(--dark-pink);
  background: white;
  cursor: pointer;
}

.browse__button:hover,
.browse__button:focus {
  background: var(--dark-pink);
  cursor: pointer;
  outline: none;
}

.browse__button-text {
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: var(--dark-pink);
text-decoration: none;
}

.browse__button-text:hover,
.browse__button-text:focus {
    color: white;
    cursor: pointer;
    outline: none;
}

.icon {
    fill: white;
}

.icon:hover,
.icon:focus {
fill: orange;
}

.preferences {
    background-color: var(--dark-blue);
    height:341px
}

.preferences-list {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.preferences-item {
    width: 360px;
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.preferences-title {
    color: white;
    margin-top: 28px;    
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.preferences-subtitle {
    color: white;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;   
}

.subscribe {
    height: 448px;
    background-image: url(../img/footerbkg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.subinfo {
    display: flex;
    justify-content: space-between;
}

.womanface {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
    background-color: transparent;
}

.subscribe-subtitle {
    margin-top: 30px;
    width: 360px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.subbutton {
    margin-top: 150px;
}

.subscribe-title { 
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.subscribe-subtext {
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
}

.submitbutton {
    display: flex;
}

.copy {
    background-color: var(--dark-blue);
}

.copy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copy__subtitle {
margin: 30px 0 30px 235px;
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: white;
}

.buttonsweb {
margin: 24px 0 23px;  
}

.message {
    height: 49px;
    width: 256px;
    border: 1px solid var(--dark-pink);
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4; 
} 

.subbut {
    background: var(--dark-pink);
}

.cart {
    min-height: 420px;
    width: 360px;
    border: 1px solid;
  }
  
  .cart-wrapper {
    position: relative;
  }
  
  .img {
    width: 100%;
    min-height: 420px;
  }
  
  .overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }
  
  .cartbutton {
    position: absolute;
    top: 50%;  
    left: 50%;
  }

