:root {
    --dark-blue:#222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --light-grey: #F8F8F8;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.header {
background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__navigation {
    display: none;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 10px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand_subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand_subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--man {
    background-image: url(../img/foto-2.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--kids {
    background-image: url(../img/foto-3.jpg);
    display: flex;
    flex-direction: column;
}

.offers__item--accesories {
    width: 100%;
    margin: 0;
    background-image: url(../img/foto-4.jpg);
    display: flex;
    flex-direction: column;
}

.offers__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.offers__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.offers__subtitle-pink {
    color: var(--dark-pink);
}

.fetured {
    padding: 96px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fetured__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.fetured__subtitle {
    padding: 6px 0 48px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.fetured__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 49px 0;
}

.fetured__item {
    width: 360px;
    min-height: 581px;
    margin-bottom: 30px;
}

.fetured__title-wrapper {
    width: 360px;
    padding: 25px 0 20px 0;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.item__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: 18px;
    margin-bottom: 13px;
}

.item__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-left: 16px;
    margin-bottom: 18px;
    margin-right: 29px;
}

.item__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 18px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.product__button {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.browse__button {
  width: 211px;
  height: 47px;
  border-color: var(--dark-pink);
  background: white;
  cursor: pointer;
}

.browse__button-text {
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: var(--dark-pink);
text-decoration: none;
}